*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    --bgcolor: linear-gradient(180deg, #191053, #010101);
    --textcolor:rgb(255, 255, 255);
    --border: solid 5px rgb(227, 26, 26);
}
header{
    position: absolute;
    color: var(--textcolor);
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    top: 10;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 8rem;
    z-index: 1009;

}
header nav a{
    margin-left: 2rem;
    color: var(--textcolor);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    transition: color 0.3s ease;
}
header nav .active , 
header nav a:hover{
    color: rgb(32, 84, 255);
}
.home{
    height: 955px;
    background: rgb(8, 4, 86);
    background: linear-gradient(180deg, rgba(8, 4, 86, 1.0) 0%, rgba(1, 1, 1, 1.0) 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home h1{
    font-size: 8rem;
    color: var(--textcolor);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 8rem;
    position: absolute;
    z-index: 3;
}
.home img{
    position: absolute;
    width: 100%;
    top: 0;
}
.cloud2{
    z-index: 2;
}
.cloud1{
    z-index: 4;
}
.hidden{
    opacity: 0;
    transition: all 1s 0.3s;
    transform: translateY(100%);
    filter: blur(5px);
}
.show{
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

.mainclouds{
    height: 800px;
    background-color:#93A4FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainclouds h1{
    font-size: 6rem;
    color: rgb(56, 71, 243);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.mainpage img{
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateY(-1%);
}
.mainn{
    height: 1880px;
    background-image: url(./Rain\ \(1\).svg);
    background-color: #191053;

}
.mainpage{
    height: 1800px;
    position: relative;
    overflow: hidden;
}
