*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    --bgcolor: linear-gradient(180deg, #191053, #010101);
    --textcolor:rgb(255, 255, 255);
    --border: solid 5px rgb(227, 26, 26);
}
header{
    position: fixed;
    color: var(--textcolor);
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    top: 10;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 8rem;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease;
}
header nav a{
    margin-left: 2rem;
    color: var(--textcolor);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    transition: color 0.3s ease;
}
header nav .active , 
header nav a:hover{
    color: rgb(32, 84, 255);
}
.home{
    height: 955px;
    background: rgb(8, 4, 86);
    background: linear-gradient(180deg, rgba(8, 4, 86, 1.0) 0%, rgba(1, 1, 1, 1.0) 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home h1{
    font-size: 8rem;
    color: var(--textcolor);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 8rem;
    position: absolute;
    z-index: 3;
}
.home img{
    position: absolute;
    width: 100%;
    top: 0;
}
.cloud2{
    z-index: 2;
}
.cloud1{
    z-index: 4;
}
.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateY(100%);
    filter: blur(5px);
}
.show{
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

.mainclouds{
    height: 700px;
    background-color:#93A4FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainclouds h1{
    font-size: 6rem;
    color: rgb(56, 71, 243);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.bottomclouds img{
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateY(-1%);
}
/* .{
    height: 1880px;
    background-image: url(./rainopt.png);
    background-color: #191053;
    z-index: -100;
} */
.mainpage{
    position: relative;
}
.rainnn{
    position: absolute;
    overflow: hidden;
    height: 1880px;
    width: 100%;
    background-color: #191053;
    z-index: -100;
}
.aboutmebox{
    width: 100%;
    height: 1000px;
    margin-top: 450px;
    /* border: var(--border); */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
.aboutme{
    height: 700px;
    width: 55%;
    /* border: var(--border) */
}
.aboutmeheader{
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    padding: 50px;
    color: rgb(56, 71, 243);
}
.aboutme p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color: rgb(100, 117, 184);
}
.collagebox{
    height: 700px;
    width: 45%;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.collagebox img{
    width: 190px;
}
.elevatorpic{
    position: absolute;
    top: 40;

}